:root {
background-color: #093032;
font-size: 125%;
    p {
	margin-top: 1rem;
    margin-bottom: 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    color: white;
	}
}

body {
   
    background-color: var(--bg-color);
    color: var(--fg-color);
}


nav {
    padding-inline-start: 2rem;
}

nav ol {

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;        /* mobile: stack vertically */
    gap: 0.2rem;
}

nav a {
    color: black;
    font-weight: 800;
    display: block;
    padding: 0.5rem 0;
}

/* ---- Desktop / Tablet ---- */
@media (min-width: 700px) {
    nav ol {
        flex-direction: row;         /* horizontal */
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    nav li {
        flex: 1;                     /* spreads buttons evenly */
    }
}

 p {
	margin-top: 1rem;
    margin-bottom: 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    color: white;
	}

h1, h3, h2, ol {
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}


h1, h2 {
    font-weight: 700;
    color: #F13F40;
}


h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-align: center;
    font-family: "Noto Sans Telugu", sans-serif;
    position: relative;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}