:root {
background-color: #093032;
font-size: 125%;
    p {
	margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    color: white;
    line-height: 1.3rem;
	}
}

body {
   
    background-color: var(--bg-color);
    color: var(--fg-color);
}


nav {
    padding-inline-start: 0;      /* remove left padding */
    display: flex;
    justify-content: center;       /* centers the ol horizontally */
}

nav ol {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav a {
    color: black;
    font-weight: 800;
    display: block;
    padding: 0.5rem 5rem;
    min-width: max-content;
}
/* ---- Desktop / Tablet ---- */
@media (min-width: 700px) {
    nav ol {
        flex-direction: row;         /* horizontal */
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    nav li {
        flex: 1;                     /* spreads buttons evenly */
    }
}

 p {
	margin-top: 1rem;
    margin-bottom: 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    color: white;
	}

h1, h3, h2, ol {
    padding-inline-start: 1rem;
}

h2 {
    font-family: "Noto Sans Telugu", sans-serif;
    padding-block-start: 2rem;
    font-size: 1.5rem;
}

h1, h2 {
    font-weight: 700;
    color: #F13F40;
}


h1 {
    margin-bottom: 2rem;
    padding-block-start: 2rem;
    font-size: 2rem;
    text-align: center;
    font-family: "Noto Sans Telugu", sans-serif;
    position: relative;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}