:root {
background-color: #093032;
font-size: 125%;
    p {
	margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    color: white;
    line-height: 1.3rem;
	}
}

body {
   
    background-color: var(--bg-color);
    color: var(--fg-color);
}


nav {

    display: flex;
}

nav ol {

    padding-inline-start: 1rem;  
    display: flex;
    flex-direction: column;
}

nav a {
    color: black;
    font-weight: 800;
    display: block;
    padding: 0.5rem;
    min-width: max-content;
}
/* ---- Desktop / Tablet ---- */
@media (min-width: 700px) {

nav {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}

nav ol {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
}

 p {
	margin-top: 1rem;
    margin-bottom: 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    color: white;
	}

h2, h3, ol {
    padding-inline-start: 1rem;
}

h2 {
    font-family: "Noto Sans Telugu", sans-serif;
    padding-block-start: 2rem;
    font-size: 1.5rem;
}

h1, h2 {
    font-weight: 700;
    color: #F13F40;
}


h1 {
    margin-bottom: 2rem;
    padding-block-start: 2rem;
    font-size: 2rem;
    text-align: center;
    font-family: "Noto Sans Telugu", sans-serif;
    position: relative;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}