:root {
background-color: #f9f2ee;
--fg-color: #2B2774;
font-size: 125%;
}

body {
   
    background-color: var(--bg-color);
    color: var(--fg-color);
}


nav {
    padding-inline-start: 2rem;
}

nav ol {

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;        /* mobile: stack vertically */
    gap: 0.2rem;
}

nav a {
    color: black;
    font-weight: 800;
    display: block;
    padding: 0.5rem 0;
}

/* ---- Desktop / Tablet ---- */
@media (min-width: 700px) {
    nav ol {
        flex-direction: row;         /* horizontal */
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    nav li {
        flex: 1;                     /* spreads buttons evenly */
    }
}

 p {
	margin-top: 1rem;
    margin-bottom: 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
	}

h1, h3, h2, ol {
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
}

h1 {
    padding-block-start: 2rem;
}