@font-face {
    font-family: 'Graph FF Condensed';
    src: url('GraphFFCondensed-Black.woff2') format('woff2'),
        url('GraphFFCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Klima';
    src: url('Klima-Regular.woff2') format('woff2'),
        url('Klima-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


:root {
background-color: #FBFFD9;
font-size: 125%;
}
    p {
    margin-bottom: 2rem;
    padding-inline-start: 7vw;
    padding-inline-end: 7vw;
    justify-content:center;
    color: black;
    line-height: 140%;
    font-family:  "Roboto", sans-serif;
    /* font-family: 'Klima'; */
	}

/* ---- Hero section for all the article pages---- */

.articlehero {
	background-color: #062909;
	width: 100%;
	position: relative;
	display: flow-root;
}

.articlehero h1 {
		margin-block-start: 7rem;
		margin-block-end: 7rem;
		line-height: 130%;
		position: relative;
        color: white;
        font-family: 'Graph FF Condensed';
		font-size: 2.8rem;
        font-weight: 900;
}

/* Top right SVG */
.svgtop {
		position: absolute;
		inset-block-start: 0;
		left: 0rem;
        margin-inline-start: 0rem;
		width: 60%;
}

/* Bottom right SVG - flipped horizontally */
.svgbottom {
		content: '”';
		position: absolute;
		inset-block-end: 0rem;
		right: -0.05rem;
		width: 60%;
		transform: scaleX(-1);
}

.author {
    text-align: center;
    justify-content: center;
    padding-block-start: 1rem;
    font-size: 1.3rem;
    font-family: "Noto Sans Telugu", sans-serif;
    font-weight: 700;
}

body {
   
    background-color: var(--bg-color);
    color: var(--fg-color);
}


nav {
    display: flex;
    background-color: #E1602F;
}

nav ol {
    padding-inline-start: 1rem;  
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    display: flex;
    flex-direction: column;
}

nav a {
    color: white;
    font-weight: 800;
    display: block;
    padding: 0.6rem;
    min-width: max-content;
    font-family:  "Roboto", sans-serif;
}

.author {
    font-family: "Anton", sans-serif;
}

.intro p{
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    color: #062909;
    font-size: 2rem;
    font-family: "Inria Serif", serif;
    font-style: normal;
}

h2, h3, ol {
    padding-inline-start: 7vw;
    padding-inline-end: 7vw;
}

h2 {
    font-size: 2.5rem;
    padding-block-start: 2rem;
    padding-block-end: 1rem;
}

h1, h2 {
    font-weight: 700;
    color: #F13F40;
    
}

h1, h2, h3 {
    font-family:  "Anton", sans-serif;
}


h1 {
    margin-bottom: 2rem;
    padding-block-start: 2rem;
    font-size: 2rem;
    text-align: center;
    position: relative;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
    padding-block-start: 0.5rem;
    padding-block-end: 1rem;
    color: black;
}

/* quote style */
blockquote {
	background-color: #FADE2F;
	font-weight: 500;
	font-size: 1.15rem;
	font-weight: 700;
	margin-block-start: 3rem;
	margin-block-end: 3rem;
	margin-inline-start: 0vw;
    margin-inline-end: 0vw;
	padding-inline-start: 9vw;
	width: 100%;
	z-index: 0;
	position: relative;
	display: flow-root;
}

	/* quote text style */
	blockquote .quote, .quoteauthor {
		margin-inline-start: -1rem;
		margin-block-start: 7rem;
		line-height: 130%;
		position: relative;
		z-index: 2;
        color: black;
        font-family:  "Roboto", sans-serif;
        font-weight: 800;
	}
    
    .quoteauthor {
        margin-block-start: 2rem;
        font-weight: 400;
        font-size: 1rem;
    }
    	/* quotation marks style */
	blockquote::before {
		content: '“';
		position: absolute;
		top: -1rem;
		left: -0.36rem;
		font-style: normal;
		color: white;
		z-index: 1;
        font-size: 12rem;
        font-family: Helvetica;
        margin-inline-start: 1rem;
	}

	blockquote::after {
		content: '”';
		position: absolute;
		bottom: -23.5rem;
		right: -0.05rem;
		font-style: normal;
		font-size: 35rem;
		color: white;
		z-index: 1;
        font-family: Helvetica;
        opacity: 30%;
	}


.credits p {
    font-size: 0.8rem;
    padding-block-start: 2rem;
}



/* ---- Desktop / Tablet ---- */


@media (min-width: 785px) {
    nav {
        padding-inline-start: 0;
        padding-inline-end: 0;
        display: flex;
        justify-content: center;
    }

    nav ol {
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        width: auto;              /* let it size naturally */
        max-width: 100%;          /* prevent overflow */
    }
    
    nav a {
        white-space: nowrap;      /* prevent wrapping */
        padding: 0.5rem 1rem;     /* add horizontal padding */
    }


    p {
        max-width: 130ch;
        margin-inline: 11vw;
    }
    
    h2, h3, ol {
        margin-inline: 11vw;
    }


    .svgtop, .svgbottom {
		width: 40%;
}
    .articlehero h1 {
		margin-block-start: 10rem;
		margin-block-end: 11rem;
        font-size: 5.5rem;
        padding: 1rem;
}

	blockquote .quote {
		max-width: 90ch;
	}

	blockquote .quote, .quoteauthor {
		margin-inline-start: 1rem;
	}

}

