nav {
  background-color: #093032;
  font-family: Helvetica;
  overflow: hidden;
  padding: 2rem 0;
}
ol {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  position: relative;
}
a {
  color: white;
  display: flex;
  width: 100%;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  font-size: calc(2rem);
}
li:last-child:after,
li:last-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  clip-path: circle(0);
  opacity: 0;
  transform: translate3d(0%, -100%, 0);
  transition: opacity 0.5s, clip-path 0.5s, transform 0.5s 0.5s;
}
li:last-child:after {
  background: #FADE2F;
  mix-blend-mode: exclusion;
}
li:last-child:before {
  background: green;
  -webkit-clip-path: circle(0);	
  mix-blend-mode: color-dodge;
}
li:hover ~ li:last-child:after,
li:last-child:hover:after,
li:hover ~ li:last-child:before,
li:last-child:hover:before {
  opacity: 1;
  transition: 1s ease;
}
/* First link hover */
li:first-child:hover ~ li:last-child:after {
  transform: translate3d(0, -280%, 0);
  clip-path: circle(6vh);
}
li:first-child:hover ~ li:last-child:before {
  transform: translate3d(18%, -310%, 0);
  clip-path: circle(3vh);
}
/* Second link hover */
li:nth-child(2):hover ~ li:last-child:after {
  transform: translate3d(0%, -145%, 0);
  clip-path: circle(6vh);
}
li:nth-child(2):hover ~ li:last-child:before {
  transform: translate3d(-10%, -110%, 0);
  clip-path: circle(3vh);
}
/* Third link (last) hover */
li:last-child:hover:after {
  transform: translate3d(0%, 0%, 0);
  clip-path: circle(6vh);
}
li:last-child:hover:before {
  transform: translate3d(20%, 30%, 0);
  clip-path: circle(3vh);
}

li:first-child {
  padding-block-start: 14rem;
}