/* Article 1 Style */

:root {
    font-family: helvetica;
    font-size: 125%;
    background-color: #093032;
    p {
	margin-top: 1rem;
    margin-bottom: 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    color: white;
	}
}

nav {
    background-color: #F13F40;
}

nav a {
    font-family: "Inria Serif", serif;
}

    h2, h3, .citation {
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    }


h1, h2 {
    font-family: "Inria Serif", serif;
    font-weight: 700;
    color: #F13F40;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    text-align: center;
    padding-inline-end: 0.5rem;
    font-family: "Noto Sans Telugu", sans-serif;
    position: relative;

        p:nth-child(1) {
            text-transform: uppercase;
            font-weight: 800;
            color: #F04532;
        }
    	p:nth-child(2) {
            margin-block-start: -4.5rem;
            text-transform: uppercase;
            font-weight: 800;
            color: #F04532;

        }
        p:nth-child(3) {
            font-size: 2rem;
            font-family: "DM Serif Display", serif;
            background-color: #093032;
            margin-block-start: -6.5rem;
            position: absolute;
            margin-inline-start: 3rem;
    
 /* Might delete this section start here, testing out the background for title */
            display: flow-root;
            inline-size: fit-content;
        

            &::before, &::after {
		content: ''; /* Gives us “empty” pseudos to work with. */
		display: block;
		
    

	&::before { margin-inline-start: 6rem; }
	&::after { margin-inline-end: 3rem; }

} /* Might delete this section ends here, testing out the background for title */


.intro {
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    font-weight: 600; 
    font-style: italic;
}



h3 {
    font-weight: 700;
    font-size: 2rem;
}

blockquote {
    background-color: #FADE2F;
    padding-block-start: 4rem;
    padding-block-end: 4rem;
    z-index: 0;
    position: relative;
}
    blockquote .quote {
        font-weight: 600;
        z-index: 2;
        position: relative;
        max-width: 95vw;
    }

    blockquote .quoteauthor {
        color: 474535;
        font-weight: 400;
     position: relative;
        z-index: 2;
    }


blockquote::before {
	content: '“';
	position: absolute;
	font-size: 10rem;
	color: white;
    top: -1rem;
    left: 2rem;
    z-index: 1;
    font-weight: 700;

}

blockquote::after {
	content: '”';
	position: absolute;
	font-size: 35rem;
	color: white;
    top: 6rem;
    right: 0rem;
    z-index: 1;
    opacity: 0.4;
    font-weight: 700;
}

.question {
    font-weight: 600;
    font-style: italic;
}

.citation ol{
    font-size: 60%;
    list-style: decimal;
}