/* Article 1 Style */

:root {
    font-size: 125%;}

.citation {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    }    



.intro {
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    font-weight: 600; 
    font-style: italic;
}



.question {
    font-weight: 600;
    font-style: italic;
	color: #062909;
	font-size: 2rem;
}

.citation ol{
    font-size: 0.8rem;
    list-style: decimal;
    color: black;
}

@media (min-width: 785px) {
blockquote .quote, .quoteauthor {
		margin-inline-start: 3rem;
	}

blockquote .quote{
	font-size: 1.5rem;
}
}