/* Article 1 Style */

:root {
    font-size: 125%;}

.citation {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    }    



.intro p{
    padding-block-start: 6rem;
    padding-block-end: 0.5rem;
    font-weight: 600; 
	max-width: 58ch;
}

.question {
	font-size: 2rem;
	color: #062909;
	font-weight: 550;
}

.question em {
    background-color: #FADE2F;
}

.citation ol{
    font-size: 0.8rem;
    list-style: decimal;
    color: black;
	font-family: "Roboto", sans-serif;
}

@media (min-width: 785px) {
blockquote .quote, .quoteauthor {
		margin-inline-start: 3rem;
	}

blockquote .quote{
	font-size: 1.5rem;
}
}