:root {
    font-size: 125%;
}

.author {
    text-align: center;
    justify-content: center;
    padding-block-start: 1rem;
    font-size: 1.3rem;
    font-family: "Noto Sans Telugu", sans-serif;
    font-weight: 700;
}

.intro p{
    padding-block-start: 2rem;
    padding-block-end: 0.5rem;
    font-weight: 600; 
    font-style: italic;
}

.callout {
	font-size: 2rem;
	color: #062909;
	font-weight: 550;
}

.callout em {
    background-color: #FADE2F;
}


@media (min-width: 785px) {

    p {
        max-width: 120ch;
        margin-inline: 17vw;
		font-weight: 500;
    }

    h2, h3 {
        margin-inline: 17vw;
    }

	.author {
		margin-inline: 16vw;
	}


	blockquote .quote {
		max-width: 90ch;
		font-size: 1.5rem;
	}

	blockquote .quote, .quoteauthor {
		margin-inline-start: 6rem;
	}
}