:root {
    font-size: 125%;
}

.intro {
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    font-weight: 600; 
    font-style: italic;
}


@media (min-width: 785px) {

    p {
        max-width: 120ch;
        margin-inline: 17vw;
    }

    h2, h3 {
        margin-inline: 17vw;
    }

	.author {
		margin-inline: 16vw;
	}


	blockquote .quote {
		max-width: 90ch;
		font-size: 1.5rem;
	}

	blockquote .quote, .quoteauthor {
		margin-inline-start: 6rem;
	}
}