
h1, h2 {
    font-size: 3rem;
    font-family:  "Playfair Display", serif;
    font-weight: 600;
    color: #FA32C9;
}

h1, h2 {
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    background-color: pink;
}

.black {
    color: black;
    
}

.white {
    color: grey;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}