

nav {
    background-color: #FA32C9;
}


h1, h2 {
    font-family:  "Playfair Display", serif;
    font-weight: 600;
    color: #FA32C9;
    text-align: left;
}

.author {
    font-weight: 700;
}

.intro {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
}

h3 {
	color: #f9f2ee;
	font-size: 4rem;
	font-weight: 700;

	background-color: pink;

	margin-block-start: 4rem;
	margin-block-end: 3rem;

	display: flow-root;
	inline-size: fit-content;
	width: 90vw;

	/* cinching the box */
	&::before,
	&::after {
		content: ''; /* Gives us “empty” pseudos to work with. */
		display: block;
		visibility: hidden; /* We don’t need to see it or click it. */
	}

	&::before { margin-block-start: -0.25em; }
	&::after { margin-block-end: -0.25em; }
}

.quote {
  color:#FA32C9;
  font-weight: 400;
  font-style:italic;
  position: relative;
}

.quote::before,
.quote::after {
  font-family: serif;
  color: #FA32C9;
}

.quote::before {
  content: "“";
}

.quote::after {
  content: "”";
}

.quoteauthor {
  color:#FA32C9;
  padding-block-start: 0.1rem;
  font-family: "Inria Serif", serif; 
  font-weight: 600;
}

.question {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
}

.citation ol{
    font-size: 60%;
    list-style: decimal;
}

.credits {
    font-size: 80%
}

