:root {
    font-size: 125%;
}

nav {
    background-color: #F13F40;
}

nav a {
    font-family: "Inria Serif", serif;
}


.intro {
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    font-weight: 600; 
    font-style: italic;
}


blockquote {
    background-color: #FADE2F;
    padding-block-start: 4rem;
    padding-block-end: 4rem;
    z-index: 0;
    position: relative;
}
    blockquote .quote {
        font-weight: 600;
        z-index: 2;
        position: relative;
        max-width: 95vw;
    }

    blockquote .quoteauthor {
        color: 474535;
        font-weight: 400;
     position: relative;
        z-index: 2;
    }


blockquote::before {
	content: '“';
	position: absolute;
	font-size: 10rem;
	color: white;
    top: -1rem;
    left: 2rem;
    z-index: 1;
    font-weight: 700;

}

blockquote::after {
	content: '”';
	position: absolute;
	font-size: 35rem;
	color: white;
    top: 6rem;
    right: 0rem;
    z-index: 1;
    opacity: 0.4;
    font-weight: 700;
}

